<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KoiChan</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <div id="userBanner">
        <ul>
            <li><a class="pageLink" asp-controller="Home" asp-action="Login">Login</a></li>
            <li><a class="pageLink" asp-controller="Home" asp-action="Register">Register</a></li>
        </ul>
    </div>

    <div id="homeHeader">
        <p>Welcome to KoiChan.</p>
        <p id="homeSubtitle">v. 1.0</p>
    </div>

    <div id="mainContentArea">
        <div id="mainContent">
            <aside id="homeAside">
                <p class="asideTitle">Boards</p>
                <ul>
                    <li><a class="page-scroll pageLink" asp-controller="Home" asp-action="WebDev">Fitness - /f/</a></li>
                    <li><a class="page-scroll pageLink" asp-controller="Home" asp-action="Hardware">Spirit - /s/</a></li>
                    <li><a class="page-scroll pageLink" asp-controller="Home" asp-action="Software">Politics - /p/</a></li>
                    <li><a class="page-scroll pageLink" asp-controller="Home" asp-action="Techculture">Art - /a/</a></li>
                    <li>Board Template</li>
                    <li>Board Template</li>
                </ul>

                <p class="asideTitle">Lurking</p>
                <ul>
                    <li>Lurk 1</li>
                    <li>Lurk 2</li>
                    <li>Lurk 3</li>
                    <li>Lurk 4</li>
                    <li>Lurk 5</li>
                    <li>Lurk 6</li>
                </ul>
            </aside>

            <div id="homepageContainer">
                <p class="currentBoardTitle">@Html.ViewBag.Title</p>
                @RenderBody()
            </div>
        </div>
    </div>

    <div>
        <p id="bottomLinks"><i>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "page-scroll pageLinkBottom" }) - @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "page-scroll pageLinkBottom" }) </i></p>
    </div>

    <section class="footer bg-dark" id="footer">
        <p><i>KoiChan &copy; @DateTime.Now.Year by Luke Gosnell</i></p>
    </section>

    <environment names="Development">
        <script src="~/wwwroot/js/site.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
